<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) Winson Chiu
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest
    package="cw.kop.autobackground"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <!--<uses-sdk-->
    <!--tools:node="replace"/>-->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"
        />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true">
    </uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        >

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <service
            android:name="cw.kop.autobackground.LiveWallpaperService"
            android:enabled="true"
            android:label="@string/wallpaper_description"
            android:permission="android.permission.BIND_WALLPAPER"
            >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper">
            </meta-data>
        </service>

        <service
            android:name=".DaydreamService"
            android:exported="true"
            android:icon="@drawable/app_icon"
            android:label="@string/daydream_description"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".tutorial.TutorialActivity"
            android:label="@string/app_name"
            android:theme="@style/AppLightTheme"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="5cda1cb2574fd377ad47423cbfb8d3f787c9f6b5"/>

    </application>

</manifest>
